# No whitespace after the comma or in your part name!
config VENTURI_LEFT
    def_bool $(shields_list_contains,venturi_left)

# No whitespace after the comma or in your part name!
config VENTURI_RIGHT
    def_bool $(shields_list_contains,venturi_right)
    