if SHIELD_VENTURI_LEFT

config ZMK_KEYBOARD_NAME
    default "Venturi48"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VENTURI_LEFT || SHIELD_VENTURI_RIGHT

config ZMK_SPLIT
    default y

endif